<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename = 'images/fav.svg')}}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/endpage.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Score</title>
</head>
<body>
		
    <div class="end">
        <h2>thank you!</h2>
        <p>You have successfully submitted your test.</p>
        <p>Your score is <b>{{score}}</b> out of <b>{{total}}</b></p>
        <h6><a href="/">Click here</a> to return to home page.</h6>
    </div>
    
</body>
</html>